/* ================================= */
/* GENERAL */
/* ================================= */
:root {
    --clr-dark: #333;
    --clr-light: #fff;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Default */
}

body.light-mode {
    background-color: white;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #d3d3d3;
}

/* ================================= */
/* SIDEBAR */
/* ================================= */
#sidebar {
    transition: background-color 0.3s, color 0.3s;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar ul.nav li.nav-item {
    display: flex;
    align-items: bottom;
    margin-bottom: 5px;
    padding: 0 10px;
}

@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
    }

    #sidebar.collapse.show {
        display: block;
    }

    #sidebar ul {
        flex-direction: row;
        justify-content: left;
    }

    #sidebar .nav-link {
        text-align: left;
        padding: 10px;
    }
}

body.light-mode #sidebar {
    background-color: #b0e0e6;
    color: #333;
}

body.light-mode #sidebar a {
    color: #333;
}

body.light-mode #sidebar a:hover {
    color: #000;
}

body.dark-mode #sidebar {
    background-color: #003366;
    color: #d3d3d3;
}

body.dark-mode #sidebar a {
    color: #d3d3d3;
}

body.dark-mode #sidebar a:hover {
    color: #555;
}

/* ================================= */
/* NAVIGATION LINKS */
/* ================================= */
.nav-link {
    transition: color 0.3s;
    color: #333;
}

body.light-mode .nav-link {
    color: #333;
}

body.light-mode .nav-link:hover {
    color: #000;
}

body.dark-mode .nav-link {
    color: #d3d3d3;
}

body.dark-mode .nav-link:hover {
    color: #555;
}

/* ================================= */
/* SCROLLSPY */
/* ================================= */
.scrollspy {
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .scrollspy {
    background-color: #b0e0e6;
    color: #333;
}

body.dark-mode .scrollspy {
    background-color: #003366;
    color: #d3d3d3;
}

/* ================================= */
/* FOOTER */
/* ================================= */
.footer {
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .footer {
    background-color: #f1f1f1;
    color: #333;
}

body.light-mode .footer a {
    color: #333;
}

body.dark-mode .footer {
    background-color: #222222;
    color: #d3d3d3;
}

body.dark-mode .footer a {
    color: #d3d3d3;
}

/* ================================= */
/* CARD */
/* ================================= */
.card {
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .card {
    background-color: white;
    color: #333;
}

body.light-mode .card a {
    color: #333;
}

body.dark-mode .card {
    background-color: #2a2a2a;
    color: #d3d3d3;
}

body.dark-mode .card a {
    color: #d3d3d3;
}

/* ================================= */
/* DROPDOWN MENU */
/* ================================= */
.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.menu-toggle:hover {
    background-color: rgba(255, 255, 255, 1);
}

.menu {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu.open {
    max-height: 500px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .menu {
        top: 20px;
        left: 20px;
    }
}

@media (min-width: 1024px) {
    .menu {
        top: 30px;
        left: 30px;
    }
}

/* ================================= */
/* SECTION HERO */
/* ================================= */
.HeroText {
    margin: 0px;
    text-align: center;
}

/* ================================= */
/* SPACING BETWEEN SKILLS AND PROJECTS */
/* ================================= */
.skills,
.projects {
    padding: 50px 0;
}

.skills {
    margin-bottom: 50px;
}

.CertificatesText {
    margin-bottom: 25px;
}

/* ================================= */
/* WALKING & ARMS-UP ANIMATIONS */
/* ================================= */
.bi-animated {
    transform-origin: center bottom;
    animation: walk-cycle 1s steps(2) infinite;
}

@keyframes walk-cycle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.d-none {
    display: none;
}

.walking-animation {
    position: absolute;
    left: -100px;
    animation: move-walk 15s linear infinite;
    text-align: center;
    transition: background-color 0.3s ease;
}

.moving-label {
    display: inline-block;
}

@keyframes move-walk {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(99vw);
    }
}

/* ================================= */
/* FANCY BUTTON */
/* ================================= */
.fancy-button {
    background-color: #d6181894;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.fancy-button:hover {
    background-color: #a41313da;
}

/* ================================= */
/* SETTINGS */
/* ================================= */
.containerSetting {
    text-align: center;
}

.textSetting {
    margin-bottom: 20px;
}

.dark-mode {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.toggle-container {
    cursor: pointer;
}

.sun-icon,
.moon-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

.moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: inline;
}
